<script>
    var login = document.querySelectorAll(".header-item");
    login[5].innerHTML = `<a class="link" href="/logout">Logout</a>`;
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .message {
        background-color: red;
        border: 30px;
        color: white;
        padding: 10px 30px 10px 30px;
        text-align: center;
    }
    .search-wrapper {
        padding: 50px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    .search-title {
        text-align: center;
        font-size: 40px;
        padding: 0px 0px 30px 0px;
    }
    .search-form {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-bar {
        font-size: 20px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px 0px 0px 5px;
    }
    .search-bar:focus {
        outline: none;
    }
    .search-button {
        font-size: 20px;
        padding: 5px 10px;
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: 0px 5px 5px 0px;
    }
    .serach-result-table {
        width: 100%;
        padding-top: 10px;
    }
    .serach-result-table > tbody > tr > td {
        text-align: center;
        font-size: 25px;
    }
    .compare-wrapper {
        padding: 30px;
        display: flex;
        flex-flow: row;
    }
    .compare-column {
        width: 100%;
    }
    .img-wrapper {
        text-align: center;
        padding: 20px;
    }
    .img-wrapper > img {
        border-radius: 10px;
    }
    .compare-column-name {
        text-align: center;
        font-size: 30px;
    }
    .stats-section {
        padding-top: 30px;
        display: flex;
        flex-flow: row;
    }
    .stats-section-column {
        flex-grow: 1;
    }
    .stats-section-column:nth-child(1) {
        margin-right: -150px;
    }
    .stats-section-row {
        text-align: center;
        padding-bottom: 20px;
    }
    .stats-box {
        margin: auto;
        text-align: center;
        width: 200px;
        border: 1px solid black;
        border-radius: 10px 10px 10px 10px;
    }
    .stats-count {
        padding: 10px 10px;
        font-size: 25px;
    }
    .stats-name {
        padding: 10px 10px;
        color: white;
        background-color: black;
        border-radius: 0px 0px 10px 10px;
    }
    .highlight {
        background-color: black;
        color: white;
    }
    .num-songs-section {
        padding: 20px;
        text-align: center;
        font-size: 25px;
        background-color: black;
        color: white;
        text-transform: uppercase;
    }
    .slider-wrapper {
        padding: 30px 0px 30px 30px;
        display: flex;
        flex-flow: row;
        overflow: scroll;
    }
    .slider-item {
        text-align: center;
        margin-right: 30px;
        transition: 0.2s;
    }
    .slider-item:hover {
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    }
    .slider-item-image > img {
        border-radius: 10px;
    }
    .slider-item-title {
        width: 200px;
        text-align: center;
        overflow-wrap: break-word;
    }
    .artists-wrapper {
        padding: 30px;
        overflow-wrap: normal;
        text-align: center;
    }
    .artists-tag {
        padding: 5px 10px;
        margin-right: 20px;
        background-color: black;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        transition: 0.2s;
    }
    .artists-tag:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    .query-section {
        padding: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .query-table-section {
        padding: 20px;
        text-align: center;
    }
    .query-table {
        border-collapse: collapse;
        margin: auto;
    }
    .query-table th {
        font-weight: bold;
        text-decoration: underline;
    }
    .query-table td {
        min-width: 10vw;
    }
    .query-table td, .query-table th {
        border: 1px solid black;
        padding: 8px;
    }
    .text {
        padding: 10px 20px;
        font-size: 25px;
        border-radius: 20px;
    }
    .query-comp-wrapper {
        padding: 30px;
        display: flex;
        flex-flow: row;
    }
    .query-comp-item {
        flex-grow: 1;
    }
    .query-comp-item-text {
        text-align: center;
        font-size: 25px;
    }
    .query-comp-item-number {
        text-align: center;
        font-size: 70px;
        font-weight: 800;
    }
    .space {
        margin: 100px;
    }
</style>

<div class="message" style="display: <%= error %>;">The sharecode is invalid or the user has not fetched data!</div>
<div class="search-wrapper">
    <div class="search-title">Compare your <span class="highlight">music</span> taste!</div>
    <form action="/compare" method="get" class="search-form">
        <input type="text" name="user" class="search-bar" value="<%= query %>">
        <input type="submit" value="check" class="search-button">
    </form>
</div>

<% if (displayData != 0) { %>
    <div class="compare-wrapper">
        <div class="compare-column">
            <div class="img-wrapper"><img src="<%= displayData.current_user_section1.image_url %>" height="200"></div>
            <div class="compare-column-name"><%= displayData.current_user_section1.display_name %></div>
            <div class="stats-section" style="border-right: 1px solid black;">
                <div class="stats-section-column">
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.current_user_section2.avg_liveness * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Liveliness
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.current_user_section2.avg_acousticness * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Acousticness
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.current_user_section2.avg_danceability * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Danceability
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= displayData.current_user_section2.avg_tempo %>
                            </div>
                            <div class="stats-name">
                                Beats/Minute
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats-section-column">
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.current_user_section2.avg_energy * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Energy
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.current_user_section2.avg_instrumentalness * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Instrumental
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= (displayData.current_user_section2.avg_seconds) %>
                            </div>
                            <div class="stats-name">
                                Avg. Seconds
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round((displayData.current_user_section2.avg_speechiness * 6) * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Lyrical
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="compare-column">
            <div class="img-wrapper"><img src="<%= displayData.compare_user_section1.image_url %>" height="200"></div>
            <div class="compare-column-name"><%= displayData.compare_user_section1.display_name %></div>
            <div class="stats-section">
                <div class="stats-section-column">
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.compare_user_section2.avg_liveness * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Liveliness
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.compare_user_section2.avg_acousticness * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Acousticness
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.compare_user_section2.avg_danceability * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Danceability
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= displayData.compare_user_section2.avg_tempo %>
                            </div>
                            <div class="stats-name">
                                Beats/Minute
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats-section-column">
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.compare_user_section2.avg_energy * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Energy
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round(displayData.compare_user_section2.avg_instrumentalness * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Instrumental
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= (displayData.compare_user_section2.avg_seconds) %>
                            </div>
                            <div class="stats-name">
                                Avg. Seconds
                            </div>
                        </div>
                    </div>
                    <div class="stats-section-row">
                        <div class="stats-box">
                            <div class="stats-count">
                                <%= Math.round((displayData.compare_user_section2.avg_speechiness * 6) * 100) %>% 
                            </div>
                            <div class="stats-name">
                                Lyrical
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="num-songs-section">
        <u>Compatibility</u> based on common songs
    </div>
    <div class="query-section">
        <div class="query-text">
            <span class="text">These are <%= displayData.current_user_section1.display_name %>'s deviation statistics:</span>
        </div>
        <div class="query-table-section">
            <table class="query-table">
                <tr>
                    <th>
                        Liveliness
                    </th>
                    <th>
                        Acousticness
                    </th>
                    <th>
                        Danceability
                    </th>
                    <th>
                        Avg. Time
                    </th>
                    <th>
                        Energy
                    </th>
                    <th>
                        Instrumental
                    </th>
                    <th>
                        Speechiness
                    </th>
                    <th>
                        Beats/minute
                    </th>
                </tr>
                <tr>
                    <td>
                        <%= Math.round(displayData.section5[1].liveliness * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[1].acousticness * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[1].danceability * 100) %>
                    </td>
                    <td>
                        <%= displayData.section5[1].seconds %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[1].energy * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[1].instumentalness * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[1].lyrical * 600) %>
                    </td>
                    <td>
                        <%= displayData.section5[1].beats_per_minute %>
                    </td>
                </tr>
            </table>
        </div>
        <div class="query-text">
            <span class="text">These are <%= displayData.compare_user_section1.display_name %>'s deviation statistics:</span>
        </div>
        <div class="query-table-section">
            <table class="query-table">
                <tr>
                    <th>
                        Liveliness
                    </th>
                    <th>
                        Acousticness
                    </th>
                    <th>
                        Danceability
                    </th>
                    <th>
                        Avg. Time
                    </th>
                    <th>
                        Energy
                    </th>
                    <th>
                        Instrumental
                    </th>
                    <th>
                        Speechiness
                    </th>
                    <th>
                        Beats/minute
                    </th>
                </tr>
                <tr>
                    <td>
                        <%= Math.round(displayData.section5[2].liveliness * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[2].acousticness * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[2].danceability * 100) %>
                    </td>
                    <td>
                        <%= displayData.section5[2].seconds %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[2].energy * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[2].instumentalness * 100) %>
                    </td>
                    <td>
                        <%= Math.round(displayData.section5[2].lyrical * 600) %>
                    </td>
                    <td>
                        <%= displayData.section5[2].beats_per_minute %>
                    </td>
                </tr>
            </table>
        </div>        
    </div>

    <div class="num-songs-section">
        <u>3 way</u> music compatibility score!
    </div>
    <div class="query-comp-wrapper">
        <div class="query-comp-item">
            <div class="query-comp-item-text">
                <%= displayData.current_user_section1.display_name %> towards <%= displayData.compare_user_section1.display_name %>
            </div>
            <div class="query-comp-item-number" id="u1">
                <%= displayData.comp.u1.toFixed(2) %>%
            </div>
        </div>
        <div class="query-comp-item">
            <div class="query-comp-item-text">
                Compatibility Score
            </div>
            <div class="query-comp-item-number" id="avg" style="text-decoration: underline;">
                <%= displayData.comp.avg %>%
            </div>
        </div>
        <div class="query-comp-item">
            <div class="query-comp-item-text">
                <%= displayData.compare_user_section1.display_name %> towards <%= displayData.current_user_section1.display_name %>
            </div>
            <div class="query-comp-item-number" id="u2">
                <%= displayData.comp.u2.toFixed(2) %>%
            </div>
        </div>
    </div>

    <div class="num-songs-section">
        Here are your <u><%= displayData.section3.length %> common songs</u>!
    </div>
    <div class="slider-wrapper">
        <% for( let index = 0; index < Math.min(100, displayData.section3.length); index++ ) { 
            if(displayData.section3[index]['img_url'] == "none") continue;
        %>
            <div class="slider-item">
                <div class="slider-item-image">
                    <img src="<%= displayData.section3[index]['img_url'] %>" width="200">
                </div>
                <div class="slider-item-title">
                    <%= displayData.section3[index]['track_name'] %> 
                </div>
            </div>
        <% } %>
    </div>

    <div class="num-songs-section">
        Here are your <u><%= displayData.section3.length %> common artists</u>!
    </div>
    <div class="artists-wrapper">
        <% for( let index = 1; index < Math.min(100, displayData.section4.length); index++ ) { %>
            <% if(index % 6 == 0) { %>
                <br><br>
            <% } %>
            <span class="artists-tag"><%= displayData.section4[index]['artist_name'] %> </span>
        <% } %>
    </div>

    <div class="space"></div>

    <script>
        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const obj = document.getElementById("avg");
        animateValue(obj, 0, <%= displayData.comp.avg %>, 5000);
    </script>

<% } %>
